nav{
    background-color: black;
}
@keyframes changementCouleur {
    0% {
      color: rgb(255, 0, 217);
    }
    50% {
      color: rgb(118, 118, 239);
    }
    100% {
      color: red;
    }
  }
.btn
{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 11px;
    overflow-wrap: break-word;
    font-style: italic;
    color:rgb(81, 81, 245);
    font-weight: bold;
    animation: changementCouleur 4s infinite;
}
.navbar{
    justify-content: center;
}