<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Library</title>
</head>
<body>
    <div>
        <section class="home" id="home">
            <div class="text">
                <h1>Explore the World of Books</h1>
            <p>.</p>
                <div class="header-btn">
                    <a href="#library" class="sign-in">Browse Library</a>
                    <a [routerLink]="['/contact']" class="sign-in">Contact Us</a>
                </div>
            </div>
            
        </section>    
        <section class="parts" id="parts">
            <div class="heading">
                <h1>Our Library</h1>
            <h3>Explore a World of Knowledge</h3>
            </div>
            <section class="parts" id="parts">
                <div class="heading">
                    <span>online library</span>
                <p>our gallery</p>
                </div>
                
                <p>.</p>
                <p>.</p>
                 <p>.</p>  
                    <div class="gallery">
                        <span style="--i:1">
                          <img src="/assets/1.jpeg" alt="" />
                        </span>
                        <span style="--i:2">
                          <img src="/assets/2.jpeg" alt="" />
                        </span>
                        <span style="--i:3">
                          <img src="/assets/3.jpeg" alt="" />
                        </span>
                        <span style="--i:4">
                          <img src="/assets/4.jpeg" alt="" />
                        </span>
                        <span style="--i:5">
                          <img src="/assets/5.jpeg" alt="" />
                        </span>
                        <span style="--i:6">
                          <img src="/assets/6.jpeg" alt="" />
                        </span>
                        <span style="--i:7">
                          <img src="/assets/7.jpeg" alt="" />
                        </span>
                        <span style="--i:8">
                          <img src="/assets/8.jpeg" alt="" />
                        </span>
                        
                        
        
                      </div>
            </section>  
        </section>    
        
        <section class="parts" id="parts">
            <div class="heading">
                <span>Love Category</span>
            <p>Explore a World of Love Stories</p>
            </div>
            
            <div class="parts-container container">
                <div class="box">
                <img src="/assets/love1.jpg" alt=""> 
                      
                <h3>Fiction</h3>
                <span>Price: Free</span>
                <i class="bx bx-star">(6 Reviews)</i>
                <a [routerLink]="['/read']" class="btn">Read Now</a>
                <a [routerLink]="['/love-and-other-words']"class="details">View Details</a>
                </div>
                <div class="box">
                    <img src="/assets/love2.webp" alt="">   
                    <h3>Fiction</h3>
                    <span>Price: Free</span>
                    <i class="bx bx-star">(6 Reviews)</i>
                    <a [routerLink]="['/read']"class="btn">Read Now</a>
                    <a [routerLink]="['/love2']" class="details">View Details</a>
                    </div>
                    <div class="box">
                        <img src="/assets/love3.webp" alt="">   
                        <h3>Fiction</h3>
                        <span>Price: Free</span>
                        <i class="bx bx-star">(6 Reviews)</i>
                        <a [routerLink]="['/read']" class="btn">Read Now</a>
                        <a href="#" class="details">View Details</a>
                    </div>
                        <div class="box">
                            <img src="/assets/love4.webp" alt="">   
                            <h3>Fiction</h3>
                            <span>Price: Free</span>
                            <i class="bx bx-star">(6 Reviews)</i>
                            <a [routerLink]="['/read']" class="btn">Read Now</a>
                            <a href="#" class="details">View Details</a>
                        </div>
                            <div class="box">
                                <img src="/assets/love5.webp" alt="">   
                                <h3>Fiction</h3>
                                <span>Price: Free</span>
                                <i class="bx bx-star">(6 Reviews)</i>
                                <a [routerLink]="['/read']" class="btn">Read Now</a>
                                <a href="#" class="details">View Details</a>
                             </div>
                            <div class="box">
                                    <img src="/assets/love6.webp" alt="">   
                                    <h3>Fiction</h3>
                                    <span>Price: Free</span>
                                    <i class="bx bx-star">(6 Reviews)</i>
                                    <a [routerLink]="['/read']" class="btn">Read Now</a>
                                    <a href="#" class="details">View Details</a>
                            </div>
                            <div class="box">
                                        <img src="/assets/love5.webp" alt="">   
                                        <h3>Fiction</h3>
                                        <span>Price: Free</span>
                                        <i class="bx bx-star">(6 Reviews)</i>
                                        <a [routerLink]="['/read']" class="btn">Read Now</a>
                                        <a href="#" class="details">View Details</a>
                                </div>
                                        <div class="box">
                                            <img src="/assets/love6.webp" alt="">   
                                            <h3>Fiction</h3>
                                            <span>Price: Free</span>
                                            <i class="bx bx-star">(6 Reviews)</i>
                                            <a [routerLink]="['/read']" class="btn">Read Now</a>
                                            <a href="#" class="details">View Details</a>
                                            </div>
                                    
            </div>
        </section>
        <section class="parts" id="parts">
            <div class="heading">
                <span>Mystery Category</span>
            <p>Explore a World of Mystery Stories</p>
            </div>
            
            <div class="parts-container container">
                <div class="box">
                <img src="/assets/Mystery1.webp" alt="">   
                <h3>Fiction</h3>
                <span>Price: Free</span>
                <i class="bx bx-star">(6 Reviews)</i>
                <a [routerLink]="['/read']" class="btn">Read Now</a>
                <a href="#" class="details">View Details</a>
                </div>
                <div class="box">
                    <img src="/assets/Mystery2.webp" alt="">   
                    <h3>Fiction</h3>
                    <span>Price: Free</span>
                    <i class="bx bx-star">(6 Reviews)</i>
                    <a [routerLink]="['/read']" class="btn">Read Now</a>
                    <a href="#" class="details">View Details</a>
                    </div>
                    <div class="box">
                        <img src="/assets/Mystery3.webp" alt="">   
                        <h3>Fiction</h3>
                        <span>Price: Free</span>
                        <i class="bx bx-star">(6 Reviews)</i>
                        <a [routerLink]="['/read']"class="btn">Read Now</a>
                        <a href="#" class="details">View Details</a>
                        </div>
                        <div class="box">
                            <img src="/assets/Mystery4.webp" alt="">   
                            <h3>Fiction</h3>
                            <span>Price: Free</span>
                            <i class="bx bx-star">(6 Reviews)</i>
                            <a [routerLink]="['/read']" class="btn">Read Now</a>
                            <a href="#" class="details">View Details</a>
                            </div>
                            <div class="box">
                                <img src="/assets/Mystery5.webp" alt="">   
                                <h3>Fiction</h3>
                                <span>Price: Free</span>
                                <i class="bx bx-star">(6 Reviews)</i>
                                <a [routerLink]="['/read']" class="btn">Read Now</a>
                                <a href="#" class="details">View Details</a>
                                </div>
                                <div class="box">
                                    <img src="/assets/Mystery6.webp" alt="">   
                                    <h3>Fiction</h3>
                                    <span>Price: Free</span>
                                    <i class="bx bx-star">(6 Reviews)</i>
                                    <a [routerLink]="['/read']" class="btn">Read Now</a>
                                    <a href="#" class="details">View Details</a>
                                    </div>
                                    <div class="box">
                                    <img src="/assets/Mystery5.webp" alt="">   
                                <h3>Fiction</h3>
                                <span>Price: Free</span>
                                <i class="bx bx-star">(6 Reviews)</i>
                                <a [routerLink]="['/read']" class="btn">Read Now</a>
                                <a href="#" class="details">View Details</a>
                                </div>
                                <div class="box">
                                    <img src="/assets/Mystery6.webp" alt="">   
                                    <h3>Fiction</h3>
                                    <span>Price: Free</span>
                                    <i class="bx bx-star">(6 Reviews)</i>
                                    <a [routerLink]="['/read']" class="btn">Read Now</a>
                                    <a href="#" class="details">View Details</a>
                                    </div>
            </div>
        </section>
        <section class="parts" id="parts">
            <div class="heading">
                <span>Science Fiction Category</span>
            <p>Explore a World of Science Fiction Stories</p>
            </div>
            
            <div class="parts-container container">
                <div class="box">
                <img src="/assets/Science Fiction6.webp" alt="">   
                <h3>Fiction</h3>
                <span>Price: Free</span>
                <i class="bx bx-star">(6 Reviews)</i>
                <a [routerLink]="['/read']" class="btn">Read Now</a>
                <a href="#" class="details">View Details</a>
                </div>
                <div class="box">
                    <img src="/assets/Science Fiction1.webp" alt="">   
                    <h3>Fiction</h3>
                    <span>Price: Free</span>
                    <i class="bx bx-star">(6 Reviews)</i>
                    <a [routerLink]="['/read']" class="btn">Read Now</a>
                    <a href="#" class="details">View Details</a>
                    </div>
                    <div class="box">
                        <img src="/assets/Science Fiction2.webp" alt="">   
                        <h3>Fiction</h3>
                        <span>Price: Free</span>
                        <i class="bx bx-star">(6 Reviews)</i>
                        <a [routerLink]="['/read']"class="btn">Read Now</a>
                        <a href="#" class="details">View Details</a>
                        </div>
                        <div class="box">
                            <img src="/assets/Science Fiction3.webp" alt="">   
                            <h3>Fiction</h3>
                            <span>Price: Free</span>
                            <i class="bx bx-star">(6 Reviews)</i>
                            <a [routerLink]="['/read']" class="btn">Read Now</a>
                            <a href="#" class="details">View Details</a>
                            </div>
                            <div class="box">
                                <img src="/assets/Science Fiction4.webp" alt="">   
                                <h3>Fiction</h3>
                                <span>Price: Free</span>
                                <i class="bx bx-star">(6 Reviews)</i>
                                <a [routerLink]="['/read']" class="btn">Read Now</a>
                                <a href="#" class="details">View Details</a>
                                </div>
                                <div class="box">
                                    <img src="/assets/Science Fiction5.webp" alt="">   
                                    <h3>Fiction</h3>
                                    <span>Price: Free</span>
                                    <i class="bx bx-star">(6 Reviews)</i>
                                    <a [routerLink]="['/read']" class="btn">Read Now</a>
                                    <a href="#" class="details">View Details</a>
                                    </div>
                                    <div class="box">
                                        <img src="/assets/Science Fiction4.webp" alt="">   
                                        <h3>Fiction</h3>
                                        <span>Price: Free</span>
                                        <i class="bx bx-star">(6 Reviews)</i>
                                        <a [routerLink]="['/read']"class="btn">Read Now</a>
                                        <a href="#" class="details">View Details</a>
                                        </div>
                                        <div class="box">
                                            <img src="/assets/Science Fiction5.webp" alt="">   
                                            <h3>Fiction</h3>
                                            <span>Price: Free</span>
                                            <i class="bx bx-star">(6 Reviews)</i>
                                            <a [routerLink]="['/read']" class="btn">Read Now</a>
                                            <a href="#" class="details">View Details</a>
                                            </div>
            </div>
        </section>
        <section class="parts" id="parts">
            <div class="heading">
                <span>Historical Fiction Category</span>
            <p>Explore a World of Historical Fiction Stories</p>
            </div>
            
            <div class="parts-container container">
                <div class="box">
                <img src="/assets/Historical Fiction1.webp" alt="">   
                <h3>Fiction</h3>
                <span>Price: Free</span>
                <i class="bx bx-star">(6 Reviews)</i>
                <a [routerLink]="['/read']"class="btn">Read Now</a>
                <a href="#" class="details">View Details</a>
                </div>
                <div class="box">
                    <img src="/assets/Historical Fiction2.webp" alt="">   
                    <h3>Fiction</h3>
                    <span>Price: Free</span>
                    <i class="bx bx-star">(6 Reviews)</i>
                    <a [routerLink]="['/read']" class="btn">Read Now</a>
                    <a href="#" class="details">View Details</a>
                    </div>
                    <div class="box">
                        <img src="/assets/Historical Fiction3.webp" alt="">   
                        <h3>Fiction</h3>
                        <span>Price: Free</span>
                        <i class="bx bx-star">(6 Reviews)</i>
                        <a [routerLink]="['/read']"class="btn">Read Now</a>
                        <a href="#" class="details">View Details</a>
                        </div>
                        <div class="box">
                            <img src="/assets/Historical Fiction4.webp" alt="">   
                            <h3>Fiction</h3>
                            <span>Price: Free</span>
                            <i class="bx bx-star">(6 Reviews)</i>
                            <a [routerLink]="['/read']" class="btn">Read Now</a>
                            <a href="#" class="details">View Details</a>
                            </div>
                            <div class="box">
                                <img src="/assets/Historical Fiction5.webp" alt="">   
                                <h3>Fiction</h3>
                                <span>Price: Free</span>
                                <i class="bx bx-star">(6 Reviews)</i>
                                <a [routerLink]="['/read']" class="btn">Read Now</a>
                                <a href="#" class="details">View Details</a>
                                </div>
                                <div class="box">
                                    <img src="/assets/Historical Fiction6.webp" alt="">   
                                    <h3>Fiction</h3>
                                    <span>Price: Free</span>
                                    <i class="bx bx-star">(6 Reviews)</i>
                                    <a [routerLink]="['/read']" class="btn">Read Now</a>
                                    <a href="#" class="details">View Details</a>
                                    </div>
                                    <div class="box">
                                        <img src="/assets/Historical Fiction5.webp" alt="">   
                                        <h3>Fiction</h3>
                                        <span>Price: Free</span>
                                        <i class="bx bx-star">(6 Reviews)</i>
                                        <a [routerLink]="['/read']"class="btn">Read Now</a>
                                        <a href="#" class="details">View Details</a>
                                        </div>
                                        <div class="box">
                                            <img src="/assets/Historical Fiction6.webp" alt="">   
                                            <h3>Fiction</h3>
                                            <span>Price: Free</span>
                                            <i class="bx bx-star">(6 Reviews)</i>
                                            <a [routerLink]="['/read']" class="btn">Read Now</a>
                                            <a href="#" class="details">View Details</a>
                                            </div>
            </div>
            
    
        </section>
        <section class="parts" id="parts">
            <div class="heading">
                <span>online library</span>
            <p>our gallery</p>
            </div>
            
            <p>.</p>
            <p>.</p>
             <p>.</p> 
    
       
               
            
                <div class="gallery">
                    <span style="--i:1">
                      <img src="/assets/9.jpeg" alt="" />
                    </span>
                    <span style="--i:2">
                      <img src="/assets/10.jpeg" alt="" />
                    </span>
                    <span style="--i:3">
                      <img src="/assets/11.jpeg" alt="" />
                    </span>
                    <span style="--i:4">
                      <img src="/assets/12.jpeg" alt="" />
                    </span>
                    <span style="--i:5">
                      <img src="/assets/13.jpeg" alt="" />
                    </span>
                    <span style="--i:6">
                      <img src="/assets/14.jpeg" alt="" />
                    </span>
                    <span style="--i:7">
                      <img src="/assets/15.jpeg" alt="" />
                    </span>
                    <span style="--i:8">
                      <img src="/assets/16.jpeg" alt="" />
                    </span>
                    
                    
    
                  </div>
        </section>
        <section class="about" id="about" >
            <div class="heading">
                <span>About Us</span>
               
            </div>
            <div class="about-container">
                <div class="about-img">
                    <img src="/assets/roro.png" alt="">
                </div>
                <div class="about-text">
        <span>About Our Library</span>
        <p>Welcome to our online library, where the world of books comes alive. Immerse yourself in the richness of literature, explore captivating stories, and embark on a journey of knowledge.</p>
        <p>Discover a curated collection of novels, historical accounts, and much more. Our library is designed to provide you with a seamless reading experience from the comfort of your home.</p>
        <a href="#" class="btn">Explore Our Collection</a>
    </div>
    
            </div>
        </section>    
        <section class="about" id="about2" >
            <div class="heading">
                <span>About Services</span>
            </div>
            <div class="about-container">
                <div class="about-img">
                    <img src="/assets/lolo.png" alt="">
                </div>
                <div class="about-text">
                        <span>Our Services</span>
                        <p>Explore the services we offer to enhance your reading experience. Our goal is to make your journey through the world of books enjoyable and convenient.</p>
                        <p>Immerse yourself in a serene reading environment, access personalized recommendations, and engage in community discussions. We strive to provide the best possible services for our readers.</p>
                        <a href="#" class="btn">Discover Our Services</a>
                    </div>
                    
                </div>
            
        </section>
        <section class="reviews" id="reviews">
            <div class="heading">
                <span>Reviews</span>
                <h1>Whats Our Customer Say</h1>
            </div>
            <div class="reviews-container">
                <div class="box">
                    <div class="rev-img">
                        <img src="/assets/ranim.png" alt="">
                    </div>
                    <h2>Mejri Ranim</h2>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                          <i class="bi bi-star-fill"></i>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                            <i class="bi bi-star-fill"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                              </svg>
                              <i class="bi bi-star-half"></i>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                                <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                              </svg>
                    </div>
                    
                </div>
                <div class="box">
                    <div class="rev-img">
                        <img src="/assets/ilef (1).png" alt="">
                    </div>
                    <h2>Idoudi Ilef </h2>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                        <i class="bi bi-star-fill"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                          <i class="bi bi-star-fill"></i>
                          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                              <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                            </svg>
                            <i class="bi bi-star-fill"></i>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                                <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                              </svg>
                              <i class="bi bi-star-half"></i>
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-half" viewBox="0 0 16 16">
                                <path d="M5.354 5.119 7.538.792A.516.516 0 0 1 8 .5c.183 0 .366.097.465.292l2.184 4.327 4.898.696A.537.537 0 0 1 16 6.32a.548.548 0 0 1-.17.445l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256a.52.52 0 0 1-.146.05c-.342.06-.668-.254-.6-.642l.83-4.73L.173 6.765a.55.55 0 0 1-.172-.403.58.58 0 0 1 .085-.302.513.513 0 0 1 .37-.245l4.898-.696zM8 12.027a.5.5 0 0 1 .232.056l3.686 1.894-.694-3.957a.565.565 0 0 1 .162-.505l2.907-2.77-4.052-.576a.525.525 0 0 1-.393-.288L8.001 2.223 8 2.226v9.8z"/>
                              </svg>
                    </div>
                   
                </div>
                <div class="box">
                    <div class="rev-img">
                        <img src="/assets/nour.png" alt="">
                    </div>
                    <h2>Ltaif Nour</h2>
                    <div class="stars">
                        <i class="bi bi-star-fill"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                          <i class="bi bi-star-fill"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                          <i class="bi bi-star-fill"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                          <i class="bi bi-star-fill"></i>
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                          </svg>
                    </div>
                   
                </div>
            </div>
            
        </section>
        <section class="parts" id="parts">
            <div class="heading">
                
               
            <div class="map">
                <img src="/assets/iconnne.png" alt="">
               
            </div>
            </div>
        </section> 
        <section class="newsletter">
            <h2>Subscribe To Newsletter</h2>
            <div class="box">
                <input type="text" placeholder="Enter You Email...">
                <a href="#" class="btn">subscribe</a>
            </div>
        </section>
        <script src="deco.js"></script>
    <script src="https://unpkg.com/scrollreveal"></script>    
    <script src="deco.js"></script>
    </div>
    <app-footer></app-footer>
</body>
</html>