<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
</head>
<body>
    <section class="home" id="home">
        <div class="text">
            <h1>Bienvenue à notre Bibliothèque en Ligne</h1>
            <p>Découvrez une multitude de livres passionnants à portée de clic.</p>
            <p>.</p>
            <p></p>
            <div class="header-btn">
               <a [routerLink]="['/page-acceuil']" class="sign-in">Explorer la Bibliothèque</a>
            </div>
        
        </div>
    </section>
    <app-footer></app-footer>
</body>
</html>
