<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Love and Other Words</title>
</head>

<body>

    <section class="book-details">
        <div class="book-cover">
            <img src="/assets/love2.webp" alt="Love and Other Words Cover">
        </div>
        <div class="book-info">
            <h2>Parce Que Tu Le Vaux Bien!</h2>
            <p><strong>Auteur :</strong> Delphine Auclair</p>
            <div class="author-image">
                <img src="/assets/auteur2.jpeg" alt="Delphine Auclair">
            </div>
            <p><strong>Genre :</strong> Fiction</p>
            <p><strong>Prix :</strong> 18,99 €</p>
            <p><strong>Évaluation :</strong> ★★★★★</p>
            <p><strong>Description :</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam aliquam turpis vel imperdiet finibus.</p>
            <p><strong>Éditeur :</strong> ABC Publishing</p>
            <p><strong>Date de Publication :</strong> 1 janvier 2023</p>
            <p><strong>ISBN :</strong> 978-0-123456-78-9</p>
            <p><strong>Pages :</strong> 300</p>
            <p><strong>Langue :</strong> Français</p>
            <p><strong>Format :</strong> Relié</p>
            <p><strong>Formats Disponibles :</strong> Livre de Poche, eBook, Livre Audio</p>
            <p><strong>Chapitre d'Exemple :</strong> <a href="#">Lire Maintenant</a></p>
            <a href="#" class="btn">Acheter Maintenant</a>
            <a  [routerLink]="['/page-acceuil']" class="btn">Retour à la Bibliothèque</a>
        </div>
    </section>
    <app-footer></app-footer>
</body>

</html>


