<div class=".body">
    <div>
        <h3>TOP INTERESTING</h3>
        <br>
    </div>
    <div class="container">
        <a [routerLink]="['/login']">
            <div class="card">
                <img src="/assets/livre/livre1.jpg" alt="livre1" class="livre">
                <div class="intro">
                    <h4>The Rules Of Work</h4>
                </div> 
            </div> 
        </a>  
        <a [routerLink]="['/login']">
        <div class="card">
           <img src="/assets/livre/livre2.jpg" alt="livre2" class="livre">
           <div class="intro">
               <h4>Me Before You</h4>
           </div>
        </div>
        </a>
        <a [routerLink]="['/login']">
            <div class="card">
                <img src="/assets/livre/livre3.jpg" alt="livre3" class="livre">
                <div class="intro">
                    <h4>Never Let Me Go</h4>
                </div>
            </div>
        </a>
        <a [routerLink]="['/login']">
            <div class="card">
                <img src="/assets/livre/livre4.jpg" alt="livre4" class="livre">
                <div class="intro">
                    <h4>Educated</h4>
                </div>
            </div>
        </a>
        <a [routerLink]="['/login']">
            <div class="card">
                <img src="/assets/livre/livre5.jpg" alt="livre5" class="livre">
                <div class="intro">
                    <h4>Circe</h4>
                </div>
            </div>
        </a>
        <a [routerLink]="['/login']">
            <div class="card">
                <img src="/assets/livre/livre6.jpg" alt="livre6" class="livre">
                <div class="intro">
                    <h4>It Ends With Us</h4>
                </div>
            </div>
        </a>
    </div>  
</div>
<div class="espace">

</div>
<div class=".body">
    <div>
        <h3>INSURANCE GENRES</h3>
        <br>
    </div>
    <div class="container">
    <a [routerLink]="['/login']">
        <div class="card">
            <img src="/assets/livre/livre7.jpg" alt="livre7" class="livre">
            <div class="intro">
                <h4>Entangled Life</h4>
            </div>
        </div>
    </a>
    <a [routerLink]="['/login']">
        <div class="card">
            <img src="/assets/livre/livre8.jpg" alt="livre8" class="livre">
            <div class="intro">
                <h4>Risk And Insurance <br>In Construction</h4>
            </div>
        </div>
    </a>
    <a [routerLink]="['/login']">
        <div class="card">
            <img src="/assets/livre/livre9.jpg" alt="livre9" class="livre">
            <div class="intro">
                <h4>Risk Modelling In <br>General Insurance</h4>
            </div>
        </div>
    </a>
    <a [routerLink]="['/login']">
        <div class="card">
            <img src="/assets/livre/livre10.jpg" alt="livre10" class="livre">
            <div class="intro">
                <h4>The White Coat Investor</h4>
            </div>
        </div>
    </a>
    <a [routerLink]="['/login']">
        <div class="card">
            <img src="/assets/livre/livre11.jpeg" alt="livre11" class="livre">
            <div class="intro">
                <h4>Effects Of Insurance On <br>Maritime Liability Law</h4>
            </div>
        </div>
    </a>
    <a [routerLink]="['/login']">
        <div class="card">
            <img src="/assets/livre/livre12.jpg" alt="livre12" class="livre">
            <div class="intro">
                <h4>The Valuation Of <br>Financial Companies</h4>
            </div>
        </div>
    </a>
</div>  
</div>
<div class="espace">
</div>
<div class=".body">
    <div>
     <h3>FEATURED BOOKS</h3>
     <br>
    </div>
    <div class="container">
        <a [routerLink]="['/login']">
            <div class="card">
                <img src="/assets/livre/livre13.jpg" alt="livre13" class="livre">
                <div class="intro">
                    <h4>When Charley Met Emma</h4>
                </div>
            </div>
        </a>
        <a [routerLink]="['/login']">
            <div class="card">
                <img src="/assets/livre/livre14.jpg" alt="livre14" class="livre">
                <div class="intro">
                    <h4>I Will Be Fierce</h4>
                </div>
            </div>
        </a>
        <a [routerLink]="['/login']">
            <div class="card">
                <img src="/assets/livre/livre15.jpg" alt="livre15" class="livre">
                <div class="intro">
                    <h4>Me & Mama</h4>
                </div>
            </div>
        </a>
        <a [routerLink]="['/login']">
            <div class="card">
                <img src="/assets/livre/livre16.jpg" alt="livre16" class="livre">
                <div class="intro">
                    <h4>Zero To One </h4>
                </div>
            </div>
        </a>
        <a [routerLink]="['/login']">
            <div class="card">
                <img src="/assets/livre/livre17.jpg" alt="livre17" class="livre">
                <div class="intro">
                    <h4>A Little Life</h4>
                </div>
            </div>
        </a>
        <a [routerLink]="['/login']">
            <div class="card">
                <img src="/assets/livre/livre18.jpg" alt="livre18" class="livre">
                <div class="intro">
                    <h4>Atomic Habits Book</h4>
                </div>
            </div>
        </a>
    </div>  
</div>
<div class="espace">
</div>
