<header>
    <h1>À Propos de Notre Service</h1>
</header>

<section>
    <h2>Notre Mission</h2>
    <p>Nous sommes dédiés à fournir un service exceptionnel à nos utilisateurs. Notre mission est de rendre la lecture et l'accès à l'information aussi facile et agréable que possible.</p>

    <h2>Ce Que Nous Offrons</h2>
    <p>Notre service propose une vaste sélection de livres dans divers genres, des classiques intemporels aux dernières sorties. Nous mettons l'accent sur la qualité, la diversité et la facilité d'utilisation de notre plateforme.</p>

    <h2>Engagement envers nos Utilisateurs</h2>
    <p>Nous sommes engagés à offrir une expérience utilisateur exceptionnelle. Si vous avez des suggestions, des questions ou des préoccupations, n'hésitez pas à nous contacter. Votre satisfaction est notre priorité.</p>

    <h2>Contactez-Nous</h2>
    <p>Vous pouvez nous contacter à tout moment via notre <a href="#">page de contact</a>. Nous sommes là pour vous aider et améliorer constamment nos services.</p>
</section>
<app-footer></app-footer>
