<div class="banner">
    <div class="content">
      <h1 class="nb-5">Explore the boundless world of knowledge <br>within these virtual shelves</h1>
      <a [routerLink]="['/login']">LOGIN NOW <i class="bi bi-arrow-right-circle"></i></a>
    </div>
  </div>
  <div class="title">
    <h1>Welcome To Books For You</h1>
  </div>
  <section class="aa">
    <div class="description">
      <div class="image">
        <img src="/assets/image/livre.png">
      </div>
      <div class="phrase"> 
        <img src="/assets/image/book.jpg" class="img"/>
          <p>An online book store is a web application that allows customers to buy books online.<br>
            Customers can search for a book by title or author using a web browser,<br>
            add it to their shopping cart, and then purchase it using a <br>
            debit or credit card transaction.
         </p>
      </div>
    </div>
  </section>
  <div class="bb">
    <h3></h3>
  </div>
  <div class="livre" >
  <app-livre></app-livre>
  </div>
  <app-footer></app-footer>
